<h1>關於本站</h1>


<p>註冊用戶：<%= User.all.size %> 人</p>	
<hr>	
<p>主題數： <%= Topic.all.size %> 篇文章 </p>	
<p>回覆數： <%= Comment.all.count %> 篇 </p>	


<hr>
<% Category.all.each do |cate| %>
	<p> <%= cate.name %>：<%= cate.topics.count %> 篇文</p>
<% end %>		
<hr>
<p class="text-right"><%= link_to '⇦ Back to index', topics_path %></p>
	