<h1>My Forum</h1>

<%= paginate @topics %>

<table class="table table-condensed">
	<tr>
		<th>#</th>
		<th>主題貼</th>
		<th>樓主</th>
		<th>張貼時間</th>
		<th>最後回覆時間</th>	
		<th></th>
	</tr>

<% @topics.each do |topic| %>
	<tr>
		<td>#<%= topic.id %></td>
	  	<td><%= link_to topic.title, :controller => 'topics', :action => 'show', :id => topic %>
	  	<small><sup>	  (<%= topic.comments.size %>)</sup></small></td>
		<td><%= topic.user.nickname %></td>
		<td><%= topic.created_at.strftime('%Y/%m/%d') %></td>	
		<td>
			<% if topic.comments.size > 0 %>
			  <%= topic.comments.last.created_at.strftime('%H:%M') %>
			<% else %>
			  
			<% end %>
		</td>
	  <td>
		  
		  
	  </td>
  </tr>
  
<% end %>

</table>

<%= link_to '+ New topic', :controller => 'topics', :action => 'new' %>