<h1>My Forum</h1>


<%= paginate @topics %>

<table class="table table-condensed">
	<tr>
		<th><%= link_to '#▴', topics_path(order: 'id ASC') %></th>
		<th>主題貼</th>
		<th><%= link_to '回覆數▾', topics_path(order: 'comments_counts DESC') %></th>
		<th>樓主</th>
		<th><%= link_to '張貼時間▾', topics_path(order: 'created_at DESC') %></th>
		<th>最新回覆</th>
		<th><%= link_to '最新回覆時間▾', topics_path(order: 'last_comment_time DESC') %></th>	
		<th></th>
	</tr>

<% @topics.each do |topic| %>
	<tr>
		<td>#<%= topic.id %></td>
	  	<td><%= link_to topic.title, :controller => 'topics', :action => 'show', :id => topic %></td>
	  	<td>
	  	<%= topic.comments_counts %></td>
		<td><%= topic.user.name %></td>
		<td><%= topic.created_at.strftime('%Y/%m/%d') %></td>
		<% if topic.comments_counts ==0 %>
			<td></td>
			<td></td>
		<% else %>
			<td><%= topic.comments.last.user.name %></td>	
			<td><%= topic.last_comment_time.strftime('%m/%d %H:%M') %></td>
		<% end %>		
  </tr>
 
<% end %>

</table>

<%= link_to '+ New topic', :controller => 'topics', :action => 'new' %>