<h1>XXX 課程中心</h1>


<%= paginate @topics %>

<table class="table table-condensed text-center">
	<tr>
		<th><%= link_to '#▴', topics_path(order: 'id') %></th>
		<th>主題貼</th>
		<th><%= link_to '回覆數▾', topics_path(order: 'comments_counts') %></th>
		<th>樓主</th>
		<th><%= link_to '張貼時間▾', topics_path(order: 'created_at') %></th>
		<th>最新回覆</th>
		<th><%= link_to '最新回覆時間▾', topics_path(order: 'last_comment_time') %></th>	
		<th></th>
	</tr>

<% @topics.each do |topic| %>
	<tr>
		<td>#<%= topic.id %></td>
	  	<td class='text-left'><%= link_to topic.title, topic_path(topic) %></td>
	  	<td>
	  	<%= topic.comments_count %></td>
		<td><%= topic.user.name %></td>
		<td><%= topic.created_at.strftime('%Y/%m/%d') %></td>
		<% if topic.comments_count ==0 %>
			<td></td>
			<td></td>
		<% else %>
			<td><%= topic.comments.last.user.name %></td>	
			<td><%= topic.last_comment_at.strftime('%m/%d %H:%M') %></td>
		<% end %>		
  </tr>
 
<% end %>

</table>

<%= link_to '+ New topic', new_topic_path %>