<h1>My Forum</h1>

<%= paginate @topics %>

<table class="table table-condensed">
	<tr>
		<th>#</th>
		<th>主題貼</th>
		<th>回覆數</th>
		<th>樓主</th>
		<th>張貼時間</th>
		<th>最新回覆</th>
		<th>最新回覆時間</th>	
		<th></th>
	</tr>

<% @topics.each do |topic| %>
	<tr>
		<td>#<%= topic.id %></td>
	  	<td><%= link_to topic.title, :controller => 'topics', :action => 'show', :id => topic %></td>
	  	<td><%= topic.comments_lens %></td>
		<td><%= topic.user.name %></td>
		<td><%= topic.created_at.strftime('%Y/%m/%d') %></td>
		<td><%= topic.comments.last.user.name %></td>	
		<td><%= topic.last_comment_time.strftime('%m/%d %H:%M') %></td>
  </tr>
  
<% end %>

</table>

<%= link_to '+ New topic', :controller => 'topics', :action => 'new' %>