<h1>My Forum</h1>
<ul>
<% @topics.each do |topic| %>
  <li>
 	  <%= topic.title %>
  <%= link_to 'Show', :controller => 'topics', :action => 'show', :id => topic %>
  <%= link_to 'Edit', :controller => 'topics', :action => 'edit', :id => topic %>
  <%= link_to 'Delete', :controller => 'topics', :action => 'destroy', :id => topic %>
  </li>
<% end %>
</ul>
<%= link_to '+ New topic', :controller => 'topics', :action => 'new' %>