<h1><%= @topic.title %></h1>
<p>張貼日期：<%= @topic.created_at.strftime('%Y/%m/%d')%>｜
張貼時間：<%= @topic.created_at.strftime('%H:%M')%></p>

<%= simple_format(@topic.content) %>

<% if @topic.user == current_user %>
	<p class="text-right"><small>
		<%= link_to 'Edit', :controller => 'topics', :action => 'edit', :id => @topic %> - 
		<%= link_to 'Delete', :controller => 'topics', :action => 'destroy', :id => @topic %>
	</small></p>
<% end %>

<hr>

<p class="text-right"><%= link_to '⇦ Back to index', topics_path %></p>

<!-- 顯示留言 -->

<div class="comment col-xs-6">

<h5>Comments <sup>(<%= @topic.comments.size %>)</sup></h5>
<% @topic.comments.each do |c| %>
	
	<span><%= c.content %><br></span>
	<small class="text-muted">

	
	<i><%= c.user.name %></i> - 
		<% if c.user == current_user %>
			<%= link_to "delete", topic_comment_path(@topic, c), :method => :delete %>
		<% else %>
		<% end %>
	<br>	
	</small>
<% end %>		
</div>
<br>
<br>
<!-- 留言表單 -->

<div class="comment col-xs-6">
	<h5>留下您的回應</h5>
	<br>
	<%= form_for [@topic, @comment] do |f| %>
	<div class="form-group">
		<%= f.label :content %>
	  	<%= f.text_area :content, class: "form-control" %>
	</div>
		<%= f.submit class: "btn btn-primary btn-sm" %>
	<% end %>
</div>

