<h1><%= @topic.title %></h1>
<div>
	<small>
	<p class="pull-right">
			張貼日期：<%= @topic.created_at.strftime('%Y/%m/%d')%>｜
			張貼時間：<%= @topic.created_at.strftime('%H:%M')%>
		</p>
		<ul class="list-inline">
			<% @topic.categories.each do |cate| %>
				<li class="btn btn-info  btn-xs active"><%= cate.name %></li>
			<% end %>		
		</ul>
	</small>
</div>

<% if @topic.logo.exists? %>
	<%= image_tag( @topic.logo.url(:medium) ) %>
<% else %>
	No image.
<% end %>

<%= simple_format(@topic.content) %>


<% if @topic.user == current_user %>
	<p class="text-right"><small>
		<%= link_to 'Edit', edit_topic_path(@topic)  %> - 
		<%= link_to 'Delete', topic_path(@topic) , :method => :delete %>
	</small></p>
<% end %>

<hr>

<p class="text-right"><%= link_to '⇦ Back to index', topics_path %></p>

<!-- 顯示留言 -->

<div class="comment col-xs-6">

<h5>Comments (<%= @topic.comments.size %>)</h5>
<% @topic.comments.each do |comment| %>
	<span><%= comment.content %><br></span>
	<footer class="text-right text-muted"><small>
		<i><%= comment.user.name %></i>｜
		<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
		<% if comment.user == current_user %>
			｜<%= link_to "delete", topic_comment_path(@topic, comment), :method => :delete %>
		<% else %>
		<% end %>	
	</small></footer>
<% end %>		
</div>
<br>
<br>
<!-- 留言表單 -->

<div class="comment col-xs-6">
	<h5>留下您的回應</h5>
	<br>
	<%= form_for [@topic, @comment] do |f| %>
	<div class="form-group">
		<%= f.label :content %>
	  	<%= f.text_area :content, class: "form-control" %>
	</div>
		<%= f.submit class: "btn btn-primary btn-sm" %>
	<% end %>
</div>

