
<p class="pull-right">註冊日期：<%= current_user.created_at.strftime('%Y/%m/%d') %></p>


<div class="clearfix">
	<div class="pull-left" style="padding:20px">
		<%= image_tag( current_user.avatar.url(:medium), width: '200px', class: 'center-block' ) %>
		<br>	
	</div>
	<div>
		<h1><%= current_user.name %></h1>
		<p><%= mail_to current_user.email %></p>	
		<p>
			<%= current_user.info %><br>
	  	<%= button_to '修改個人資料', edit_user_path(current_user), :method => :get %>
		</p>	
	</div>
</div>


<hr >
<h3>我的文章<small>(<%= current_user.posts.count %>)</small></h3>
<!-- 文章列表標題（具排序功能） -->
<%= paginate @posts, :param_name => :p_page %>


<table class="table table-condensed text-center">
	<tr>
		<th>#</th>
		<th>主題貼</th>
		<th>回覆數</th>
		<th>樓主</th>
		<th>張貼時間</th>
		<th>最新回覆</th>
		<th>最新回覆時間</th>	
		<th></th>
	</tr>
<!-- 所選範疇內的文章列表 -->

<% @posts.each do |post| %>

	<tr>
		<td>
			#<%= post.id %></td>
  	<td class='text-left'><%= link_to post.title, post_path(post) %></td>
  	<td>
  		<%= post.replies_count %></td>
		<td><%= post.user.name %></td>
		<td><%= post.created_at.strftime('%Y-%m-%d') %></td>
		<% if post.replies_count == 0 %>
			<td></td>
			<td></td>
		<% else %>
			<td><%= post.replies.last.user.name %></td>	
			<td><%= post.last_reply_at.strftime('%m-%d %H:%M') %></td>
		<% end %>		
  </tr>
<% end %>
</table>

<h3>我的留言<small>(<%=current_user.replies.count %>)</small></h3>
<%= paginate @replies, :param_name => :r_page %>

<table class="table table-condensed">
	<tr>
		<th>#</th>
		<th>主題貼</th>
		<th>留言內容</th>
		<th>留言時間</th>
		<th>回應</th>
		<th>最新回覆時間</th>
	</tr>
<!-- 所選範疇內的文章列表 -->

<% @replies.each do |reply| %>

	<tr>
		<td>
			#<%= reply.post_id %></td>
		<td><%= link_to reply.post.title.truncate(20), post_path(reply.post_id) %></td>
		<td><%= reply.content.truncate(40) %></td>
		<td><%= reply.created_at.strftime('%Y-%m-%d') %></td>	
		<td>
			<% if reply.id >= Post.find(reply.post_id).replies.last.id %>
				無
			<% else %>
			  有
			<% end %>
		</td>
		<td><%= reply.post.last_reply_at.strftime('%m-%d %H:%M') %></td>
  </tr>
<% end %>
</table>
