<h3>文章分類</h3>

<table class="table table-condensed">
	<tr>
		<th>分類名稱</th>
		<th>文章數</th>
		<th>創建日期</th>
		<th>編輯</th>
		<th>刪除</th>
	</tr>

	<% Category.all.each do |cate| %>
		<tr>
			<td><%= cate.name %></td>
			<td><%= cate.posts.count %></td>
			<td><%= cate.created_at.strftime('%Y-%m-%d') %></td>
			<td><%= link_to 'Edit', edit_category_path(cate) %></td>
			<td><%= link_to 'Delete', category_path(cate) %></td>
		</tr>
	<% end %>
</table>	

<%= form_for Category.new, url: admin_posts_path do |f| %>
	<%= f.text_field :name %>
	<%= f.submit %>
<% end %>