<!-- 錯誤訊息 -->
<% if @post.errors.any? %>      
	<% @post.errors.full_messages.each do |msg| %>
		<div class="alert alert-danger" role="alert"><%= msg %></div>
	<% end %>
<% end %>

<!-- 表單內容 -->

<div class="form-group">
	<%= f.label :title, "標題" %>
	<%= f.text_field :title, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :category, "分類" %>
	<%= f.collection_check_boxes( :category_ids, Category.all, :id, :name) %>
</div>
<div class="form-group">
	<%= f.label :content, "內容" %>
	<%= f.text_area :content, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :img, "上傳檔案" %>
	<%= f.file_field :img %>
	<% if @post.img.exists? %>
		<%= check_box_tag "img", "1" %>移除圖片
	<% end %>
</div>
<%= f.submit class: "btn btn-primary btn-sm"  %>