<h1>關於本站</h1>


<p>註冊用戶：<%= User.all.count %> 人</p>	
<hr>	
<p>主題數： <%= Post.all.count %> 篇文章 </p>	
<p>回覆數： <%= Reply.all.count %> 篇 </p>	


<hr>
<% Category.all.each do |cate| %>
	<p> <%= cate.name %>：<%= cate.posts.count %> 篇文</p>
<% end %>		
	