<h1><%= @page_title %></h1>

<!-- 標籤雲 -->
<small>
	<ul class="list-inline">全站分類：
		<% Category.all.each do |cate| %>
			<%= link_to posts_path(:category => cate) do %>
				<li class="btn btn-info  btn-xs active"><%= cate.name %></li>
			<% end %>
		<% end %>		
	</ul>
	</small>

<%= paginate @posts %>
<!-- 文章列表標題（具排序功能） -->

<table class="table table-condensed">
	<tr>
		<th><%= link_to '#▾', posts_path(order: 'id', category: params[:category]) %></th>
		<th>主題貼</th>
		<th><%= link_to '回覆數▾', posts_path(order: 'replies_count', category: params[:category]) %></th>
		<th>樓主</th>
		<th>張貼時間</th>
		<th>最新回覆</th>
		<th><%= link_to '最新回覆時間▾', posts_path(order: 'last_reply_at', category: params[:category]) %></th>	
		<th></th>
	</tr>
	<!-- 文章列表 -->
		<%= render :partial => 'list', :locals => { :posts => @posts } %>
</table>

<br>
<center>
	<%= button_to '+ New post', new_post_path, :method => :get %>
</center>



