<h1><%= @page_title %></h1>

<!-- 標籤雲 -->
<small>
	<ul class="list-inline">全站分類：
		<% Category.all.each do |cate| %>
			<%= link_to posts_path(:category => cate) do %>
				<li class="btn btn-info  btn-xs active"><%= cate.name %></li>
			<% end %>
		<% end %>		
	</ul>
	</small>

<%= paginate @posts %>
<%= render :partial => 'list', :locals => { :posts => @posts } %>


<br>
<center>
	<%= button_to '+ New post', new_post_path, :method => :get %>
</center>



