<!-- header -->
<h1><%= @post.title %></h1>

<div id="post_like" class="pull-right">
	<% if current_user.liked_posts?(@post) %>
		<%= button_to 'unlike', like_path(@post), :method => :delete, :remote => true %>
	<% else %>
		<%= button_to 'like', likes_path( id: params[:id]), :params => :id, :remote => true %>
	<% end %>
</div>

<div id="post-info">
	<p>
		<%= link_to @post.user.name, profile_user_path %>｜
		<%= @post.created_at.strftime('%Y-%m-%d %H:%M')%>
	</p>
	
</div>

<!-- content -->
<% if @post.img.exists? %>
	<%= image_tag( @post.img.url(:medium) ) %>
<% end %>
<div class="post_content">
	<%= simple_format(@post.content) %>	
</div>



<!-- footer -->
<br>

<ul class="list-inline pull-right">
	<% @post.categories.each do |cate| %>
		<li class="btn btn-default btn-xs active"><%= cate.name %></li>
	<% end %>		
</ul>
<p>瀏覽人次：<%= @post.viewed_count %></p>

<!-- Who likes this post -->
<div class="who_like ">
	<p>共有 <%= @liked_user.count %> 個人喜歡這篇文章：
		<% @liked_user.each do |user| %>
			[<%= user.name %>] 
		<% end %>
	</p>
	<p>這篇文章被 <%= @collected_user.count %> 個人收藏 </p>		
</div>



<% if @post.user == current_user %>
	<p><small>
		<%= link_to 'Edit', edit_post_path(@post)  %> - 
		<%= link_to 'Delete', post_path(@post) , :method => :delete %>
	</small></p>
<% end %>
<hr>

<!-- 顯示留言 -->
<div class="reply col-sm-6">

	<div class="flash_msg"></div>
	<h5>回應 (<%= @post.replies.count %>)</h5>


	<% @post.replies.each do |reply| %>
	<div id="reply-<%= reply.id %>">
		<span><%= reply.content %><br></span>
		<footer class="text-right text-muted"><small>
			<i><%= reply.user.name %></i>｜
			<%= reply.created_at.strftime('%Y/%m/%d %H:%M') %>
			<% if reply.user == current_user %>
				｜<%= link_to "delete", post_reply_path(@post, reply), :method => :delete, :remote => true %>
			<% end %>	
		</small></footer>
	</div>
	<% end %>		

</div>
<br>
<br>

<!-- 留言表單 -->
<div class="reply col-sm-6">
	<h5>留下您的回應</h5>
	<br>
	<%= form_for [@post, @reply] do |f| %>
	<div class="form-group">
		<%= f.label :content %>
	  <%= f.text_area :content, class: "form-control" %>
	</div>
	<%= f.submit class: "btn btn-primary btn-sm" %>
	<% end %>
</div>

