<!DOCTYPE html>
<html>
  <head>
    <title>專案實作學習中心：管理後台</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    body {
      padding: 10px;
    }
    .alert {
      padding: 5px;
      margin-top : 10px;
    }
  </style>
  </head>

<body>

<h1>管理後台</h1>

  <!-- 全站導覽列 -->
  <div class="clearfix">
    <ul class="list-inline pull-right">管理項目：
      <li><%= link_to "全站文章", admin_posts_path %></li>
      <li><%= link_to "文章分類", admin_categories_path %></li>
      <li><%= link_to "使用者", admin_users_path %></li>
			<li><%= link_to "回到首頁", posts_path %></li>
    </ul>  
  </div>
  
  <!-- 警告訊息 -->
  <% if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice]%>
    </div>
  <% end %>

  <% if flash[:alert].present? %>
    <div class="alert alert-danger" role="alert">
     <%= flash[:alert]%>
    </div>
  <% end %>

  <%= yield %>
 

</body>
</html>
