<!DOCTYPE html>
<html>
  <head>
    <title>MyForum</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    body {
      padding: 10px;
    }
  </style>
  </head>

<body>
<!-- 登入 flag -->
<% if current_user %>
  <%= current_user.name %>
  <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
  <%= link_to('修改密碼', edit_registration_path(:user)) %>
<% else %>
    <%= link_to('註冊', new_registration_path(:user)) %> |
    <%= link_to('登入', new_session_path(:user)) %>
<% end %> 
<br>
<% if current_user %>
  <%= link_to('登出', destroy_user_session_path, :method => :delete) %>
  ....
<% else %>
    ....
    <%= link_to "登入 Facebook", user_facebook_omniauth_authorize_path(:facebook) %>
<% end %>

<!-- 警告訊息 -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<!-- OAuth -->
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '314902858877210',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- yield -->
  <%= yield %>
</body>
</html>
